body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif; }

.sidenav {
  height: 75px;
  width: 75px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 20px;
  left: -8px;
  background: #0C212E;
  overflow: hidden;
  box-sizing: border-box;
  transition: .5s all ease-in-out;
  -webkit-box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5); }
  .sidenav:hover {
    transform: scale(0.99);
    -webkit-box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75); }

.open-button {
  display: block;
  color: #E8393A;
  cursor: pointer;
  transition: .2s all ease-in-out; }
  .open-button:hover {
    transform: scale(1.2);
    color: #F2C934; }

.nav-element {
  display: none;
  padding: 15px 10px;
  text-decoration: none;
  color: #E8393A;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin: 15px 0;
  letter-spacing: 3px;
  cursor: pointer;
  transition: .2s all ease-in-out; }

.nav-element:hover {
  transform: scale(1.2);
  color: #F2C934; }

.icon {
  position: relative;
  top: 5px; }

.close-button {
  display: none;
  color: #E8393A;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: .2s all ease-in-out; }
  .close-button:hover {
    transform: scale(1.2); }

.main {
  height: 100vh;
  background: white; }

/*# sourceMappingURL=navbar.css.map */