@import 'vars';

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
}

* { margin:0; padding:0; }

.main-page-wrapper{
	display: block;
	position: absolute;
	width: 500px;
	height: 300px;
	text-align: center;
	margin: 0 auto;
	top: 50%;
	bottom: 50%;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
}

#smokejumper-title{
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	letter-spacing: 3px;
	color: $primary-blue;
}

.form-element{
	display: block;
	position: relative;
	margin: 20px auto;
	font-size: 20px;
	border: solid 1px $primary-blue;
	color: $primary-blue-1;
	width: 250px;
	height: 50px;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 10px;
	transition: all .2s ease-in-out;
	-webkit-box-shadow: 0px 0px 15px -5px rgba(12,33,46,0.50);
	-moz-box-shadow: 0px 0px 15px -5px rgba(12,33,46,0.50);
	box-shadow: 0px 0px 15px -5px rgba(12,33,46,0.50);
	&:focus{
		transform: scale(1.2);
		outline: none;
		border: solid 1px $accent-red;
		-webkit-box-shadow: 0px 0px 20px -5px rgba(232,57,58,0.75);
		-moz-box-shadow: 0px 0px 20px -5px rgba(232,57,58,0.75);
		box-shadow: 0px 0px 20px -5px rgba(232,57,58,0.75);
	}
}

a, button, input[type="submit"], input[type="reset"] {
	border: none;
	font: inherit;
	cursor: pointer;
	outline: none;
}

.login-logout{
	width: 150px;
	height: 60px;
	color: white;
	margin-top: 20px;
	border-radius: 10px;
	letter-spacing: 3px;
	background: $accent-red;
	transition: all .2s ease-in-out;
	-webkit-box-shadow: 5px 5px 50px -8px rgba(0,0,0,0.50);
	-moz-box-shadow: 5px 5px 50px -8px rgba(0,0,0,0.50);
	box-shadow: 5px 5px 50px -8px rgba(0,0,0,0.50);
	&:hover{
		transform: scale(0.99);
		-webkit-box-shadow: 5px 5px 20px -8px rgba(0,0,0,0.73);
		-moz-box-shadow: 5px 5px 20px -8px rgba(0,0,0,0.73);
		box-shadow: 5px 5px 20px -8px rgba(0,0,0,0.73);
	}
}
