html, body {
  width: 100%;
  height: 100%; }

/* just to be sure these are full screen*/
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  font-size: 15px; }

* {
  margin: 0;
  padding: 0; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

::-webkit-scrollbar {
  width: 2px;
  background: #E8393A;
  /* make scrollbar transparent */ }
