@import 'vars';

.marker {
  background: url('../images/firefighter-selected.svg');
  background: url('../images/firefighter.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
