.marker {
  background: url("../images/firefighter.svg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer; }

.marker-selected {
  background: url("../images/firefighter-selected.svg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer; }

.banner-wrapper {
  display: block;
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translatex(-50%);
  width: 315px;
  height: 130px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: .3s all ease-in-out; }

.distance-banner {
  position: absolute;
  left: 0;
  width: 250px;
  height: 100%;
  border-radius: 10px;
  transition: .2s all ease-in-out;
  background: #E8393A;
  -webkit-box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5); }

.banner-title {
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  color: #0C212E;
  margin-top: 15px;
  font-weight: 600; }

.distance-container {
  width: 100%;
  text-align: center;
  color: white !important;
  color: #0C212E;
  margin-top: 15px;
  font-weight: 300; }

#distance {
  display: inline-block;
  font-weight: 700;
  font-size: 1.8em;
  margin-top: 5px; }

.controls-wrapper {
  position: absolute;
  right: 100px;
  z-index: -1;
  width: 60px;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 3px;
  transition: .2s all ease-in-out; }

#control {
  display: inline-block;
  background: #E8393A;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  color: white;
  font-size: 1.6em;
  padding-top: 13px;
  transition: .2s all ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 75px -5px rgba(0, 0, 0, 0.5); }
  #control:nth-child(2) {
    margin-top: 3px; }

#control:hover {
  -webkit-box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75); }

.show-banner-wrapper {
  bottom: 20px; }

.show-controls {
  right: 0; }

.change-cursor .mapboxgl-canvas-container {
  cursor: url("../images/circle.png"), auto !important;
  cursor: -webkit-image-set(url("../images/circle.png") 1x, url("../images/circle.png") 2x), auto !important; }

/*# sourceMappingURL=map.css.map */