@import 'vars';

.sidenav{
	// height: 600px;
	// width: 300px;
	height: 75px;
	width: 75px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 999;
	top: 20px;
	left: -8px;
	background: $primary-blue;
	overflow: hidden;
	box-sizing: border-box;
	transition: .5s all ease-in-out;
	-webkit-box-shadow: 10px 10px 75px -5px rgba(0,0,0,0.50);
	-moz-box-shadow: 10px 10px 75px -5px rgba(0,0,0,0.50);
	box-shadow: 10px 10px 75px -5px rgba(0,0,0,0.50);
	&:hover{
		transform: scale(0.99);
		-webkit-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
	}
}

.open-button{
	display: block;
	color: $accent-red;
	cursor: pointer;
	transition: .2s all ease-in-out;
	&:hover{
		transform: scale(1.2);
		color: $yellow;
	}
}

.nav-element{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome and Opera */
	display: none;
	padding: 15px 10px;
	text-decoration: none;
	color: $accent-red;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	margin: 15px 0;
	letter-spacing: 3px;
	cursor: pointer;
	transition: .2s all ease-in-out;
}

.nav-element:hover{
	color: $yellow;
}

.icon{
	position: relative;
	top: 5px;
}

.close-button{
	display: none;
	color: $accent-red;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	font-size: 20px;
	transition: .2s all ease-in-out;
	&:hover{
		transform: scale(1.2);
	}
}
