<!DOCTYPE html>

<html>
<head>
	<meta charset=utf-8 />
	<title>Modest Maps JS Demo | Spotlight</title>
</head>
{% load static %}
{% load sass_tags %}
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" type="text/css" href="{% static 'css/accordion.min.css' %}">
<link href="{% sass_src 'css/map.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'css/navbar.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'css/sidebar.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'css/login.scss' %}" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Rubik:300,400,500,700' rel='stylesheet' type='text/css'>
<body>
	{% include 'navmenu.html' %}
	{% include 'sidebar.html' %}
	<div id="map"></div>
	<div class="banner-wrapper">
	<div class="distance-banner">
		<div class="banner-title">Distance Mode</div>
		<div class='distance-container'>Total Distance: <div id='distance'>...</div>km</div>
	</div>
	<div class="controls-wrapper">
		<div id="control"><i class ="icon" data-feather="x"></i></div>
		<div id="control"><i class ="icon" data-feather="trash-2"></i></div>
	</div>
</div>
</body>
<script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<script src='https://rawgithub.com/stamen/modestmaps-js/master/modestmaps.min.js'></script>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js'></script>
<script src="{% static "js/map.js" %}"></script>
<script src="{% static "js/getUsers.js" %}"></script>
<script src="{% static "js/accordion.min.js" %}"></script>
<script src="{% static "js/sidebar.js" %}"></script>
<script src="{% static "js/navbar.js" %}"></script>
<script>
feather.replace()
</script>
</html>
