{% load sass_tags %}
{% load static %}

<link href="{% sass_src 'css/rightmenu.scss' %}" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static "js/rightmenu.js" %}"></script>

<div id="main">
    <div id="sidebar">
        <div class="toggle-btn" onclick="toggleMenu()">
            <span></span> <span></span> <span></span>
        </div>
        <ul>
            <li><a href="#"><span class="glyphicon glyphicon-fire icons"></span>FIREFIGHTERS</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user icons"></span>ACCOUNT</a></li>
            <li></img><a href="#"><span class="glyphicon glyphicon-cog icons"></span>SETTINGS</a></li>
        </ul>
    </div>
</div>
