{% load sass_tags %}
{% load static %}

<div class="rightbar hover-on">
	<div class="sidebar-close-button" onclick="closeBar()"><i data-feather="minus"></i></div>
	<div class="fillerelement"></div>

	<div class="sidebar-element-wrapper ">
		<div class="sidebar-element" id="get-all-highlight">
			<div class="ui accordion">
				<div class="label title">
					<i class ="icon" data-feather="target"></i> Highlight
				</div>
				<div class="content">

				</div>
			</div>
		</div>
		<div class="sidebar-element" id="calculate-distance">
			<div class="ui accordion">
				<div class="label title">
					<i class ="icon" data-feather="navigation"></i> Find Distance
				</div>
				<div class="content">
					Click on two markers.
				</div>
			</div>
		</div>
		<div class="sidebar-element" id="get-all-detail">
			<div class="ui accordion">
				<div class="label title">
					<i class ="icon" data-feather="info"></i> Details
				</div>
				<div class="content">

				</div>
			</div>
		</div>
	</div>

	<div class="open-button" onclick="openBar()"><i class ="icon" data-feather="activity"></i> Activity</div>
</div>
